/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 30
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	container = "oras://ghcr.io/cschu/vortex_knight@sha256:f01a08ba83c59e9ddb5ce69c2f3bd2179e13122e631f4836444699a9f064dd8d"
	withName: fastqc {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: multiqc {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
