/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 800
		queue = "batch"
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

nextflow.enable.configProcessNamesValidation = false

process {
	cache = "lenient"
	clusterOptions = "--account=asbhatt"
	withName: combine_fastqs {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: fastqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: multiqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: postfastqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {32.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: postmultiqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {32.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: deduplicate {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: trimgalore {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: hostremoval {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {10.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: aggregatereports {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: megahit {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-assembly:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {100.GB * task.attempt}
		time = {24.h * task.attempt}
		maxRetries = 3
	}
	withName: prodigal {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-prodigal:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: quast {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-assembly:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = {12.h * task.attempt}
		maxRetries = 3
	}
	withName: combine_quast {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: binning_prep {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 16
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: metabat {
        executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: maxbin {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
    withName: concoct {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
    }
	withName: dastool {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
    withName: checkm {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-prodigal:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {128.GB * task.attempt}
        time = '24h'
        maxRetries = 3
    }
    withName: motus {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {10.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: collate_motus {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {32.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: metaphlan {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {32.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: collate_metaphlan {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {32.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: phanta {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {32.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: collate_phanta {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {32.GB * task.attempt}
		time = {6.h * task.attempt}
		maxRetries = 3
	}
	withName: sourmash {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {64.GB * task.attempt}
		time = {12.h * task.attempt}
		maxRetries = 3
	}
	withName: sourmash_compare {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {128.GB * task.attempt}
		time = {12.h * task.attempt}
		maxRetries = 3
	}
	withName: vibrant {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {1.GB * task.attempt}
		time = {24.h * task.attempt}
		maxRetries = 0
	}
}

singularity {
	enabled = true
	autoMounts = true
}
