/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 30
		queue = "batch"
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	clusterOptions = "--account=asbhatt"
	withName: fastqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: multiqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: postfastqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: postmultiqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: deduplicate {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: trimgalore {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: hostremoval {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: aggregatereports {
		executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
    }
    withName: motus {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: collate_motus {
		executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {32.GB * task.attempt}
        time = '24h'
        maxRetries = 3
    }
	withName: metaphlan {
		executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {32.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: collate_metaphlan {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {32.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: phanta {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {32.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: megahit {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-assembly:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {100.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: prodigal {
        executor = "slurm"
        container = "/labs/asbhatt/wirbel/utils/singularity/prodigal.sif"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: quast {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-assembly:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: combine_quast {
        executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: binning_prep {
        executor = "slurm"
        container = "/labs/asbhatt/wirbel/utils/singularity/binning.sif"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 16
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: metabat {
        executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/binning.sif"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: maxbin {
        executor = "slurm"
        container = "docker://quay.io/biocontainers/maxbin2:2.2.7--he1b5a44_1"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: dastool {
        executor = "slurm"
        container = "docker://quay.io/biocontainers/das_tool:1.1.1--py36r351_1"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
