/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 100
		queue = "batch"
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	clusterOptions = "--account=asbhatt"
	withName: megahit {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-assembly:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {100.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: prodigal {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-prodigal:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: quast {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-assembly:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: combine_quast {
        executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: binning_prep {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 16
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: metabat {
        executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
	withName: maxbin {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
    withName: concoct {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '24h'
        maxRetries = 3
    }
	withName: dastool {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-binning:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
	}
    withName: checkm {
        executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-prodigal:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {128.GB * task.attempt}
        time = '24h'
        maxRetries = 3
    }
}

singularity {
	enabled = true
	autoMounts = true
}
