/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 100
		queue = "batch"
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	clusterOptions = "--account=asbhatt"
    withName: motus {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: collate_motus {
		executor = "slurm"
        	container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
        	errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        	cpus = 1
        	memory = {32.GB * task.attempt}
        	time = '24h'
        	maxRetries = 3
    	}
	withName: metaphlan {
		executor = "slurm"
        	container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
        	errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        	cpus = 8
        	memory = {32.GB * task.attempt}
        	time = 	'24h'
        	maxRetries = 3
	}
	withName: collate_metaphlan {
		executor = "slurm"
        	container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
        	errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        	cpus = 1
        	memory = {32.GB * task.attempt}
        	time = '24h'
        	maxRetries = 3
	}
	withName: phanta {
        	executor = "slurm"
        	container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-classification:latest"
        	errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        	cpus = 8
        	memory = {32.GB * task.attempt}
        	time = '24h'
        	maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
