/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 200
		queue = "batch"
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	clusterOptions = "--account=asbhatt"
	withName: sourmash {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {64.GB * task.attempt}
		time = {12.h * task.attempt}
		maxRetries = 3
	}
	withName: sourmash_compare {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {128.GB * task.attempt}
		time = {12.h * task.attempt}
		maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
