executor {
	$slurm {
		queueSize = 100
		queue = "batch"
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	clusterOptions = "--account=asbhatt"
	withName: fastqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: multiqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: postfastqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: postmultiqc {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: deduplicate {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: trimgalore {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: hostremoval {
		executor = "slurm"
		container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-preprocessing:latest"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: aggregatereports {
		executor = "slurm"
        container = "docker://ghcr.io/jakob-wirbel/micromamba-focal-seaborn:latest"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {10.GB * task.attempt}
        time = '24h'
        maxRetries = 3
    }
}

singularity {
	enabled = true
	autoMounts = true
}
