/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 800
		queue = "batch"
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	clusterOptions = "--account=asbhatt"
	withName: vibrant {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {1.GB * task.attempt}
		time = {24.h * task.attempt}
		maxRetries = 0
	}
}

singularity {
	enabled = true
	autoMounts = true
}
