/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 30
		queue = batch
		account = asbhatt
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}


process {
	cache = "lenient"
	withName: fastqc {
		executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/preprocessing.sif"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '24h
		maxRetries = 3
	}
	withName: multiqc {
		executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/preprocessing.sif"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: postfastqc {
		executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/preprocessing.sif"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {2.GB * task.attempt}
		time = '24h
		maxRetries = 3
	}
	withName: postmultiqc {
		executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/preprocessing.sif"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: deduplicate {
		executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/preprocessing.sif"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: trimgalore {
		executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/preprocessing.sif"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: hostremoval {
		executor = "slurm"
		container = "/labs/asbhatt/wirbel/utils/singularity/preprocessing.sif"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {10.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
